:root {
    --var-dark-blue: rgb(33,37,41);
    --card-border: rgba(60, 56, 90, 0.582);
    --header-border: rgba(66, 60, 107, 0.411);
    --main-gradient: linear-gradient(36deg, rgba(207,70,252,1) 0%, rgba(9,102,213,1) 100%);
}

.btn-primary {
    background-color: rgb(74, 97, 228);
}
.btn-primary:hover {
    background-color: rgb(119, 139, 255);
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    max-width: 100vw !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
body {
    font-family: 'Lora', serif;
    color: rgb(82, 54, 185) !important;
}
body a {
    text-decoration: none !important;
    color: rgb(74, 97, 228) !important; 
}
.navbar a {
    text-decoration: none !important;
    color: white !important;
}
h1, h2, h3, h4, h5, h6, .navbar-brand, .nav-item {
    font-family: 'Montserrat', sans-serif;
}
label {
    font-size: 130%;
    line-height: 30px;
    padding: 0;
    color: rgba(80, 41, 131, 0.459) !important;
}
input {
    height: 40px;

}
.container {
    padding: 0 !important;
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(88,70,252);
    background: linear-gradient(41deg, rgb(74, 97, 228) 40%, rgb(100, 54, 226) 100%);
    padding: 0;
    border-bottom: 1px solid var(--header-border);
    margin-bottom: 15px;
}
.navbar-toggler {
    color: white;
}
.navbar-brand {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
}
.navbar-logo {
    display: flex !important;
    position: relative !important;
    flex-direction: row !important;
    width: 1000px;
    margin: 17px 0 17px 17px;
}
.navbar-brand-text {
    display: flex;
    flex-direction: column;
}
.fa-blog {
    margin: 0 0 0 0;
    padding: 10px;
    border: 5px solid white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 2.4em;

}

.navbar-brand span {
    background-color: white;
    color: rgb(22, 76, 177);
    font-weight: 700;
    position: relative;
    line-height: 1;
    padding: 12px 13px 12px 8px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
.navbar-brand-text p {
    font-family: 'Lora', sans-serif;
    text-transform: none;
    font-size: 85%;
    font-weight: 100;
    line-height: 1;
    position:relative;
    bottom: -8px;
    left: 10px;
}
.collapse {
    margin: 0px;
}
.navbar-nav a {
    display: flex;
    padding: 10px 20px 10px 20px !important;
    margin: 0px 1px 0px 1px;
    justify-content: center;
    border-radius: 3px;
}
.navbar-nav a:hover{
    background-color: rgba(255, 255, 255, 0.089);
}
.divider {
    width: 1px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(214, 214, 214, 0.219) 47%,rgba(184, 184, 184, 0.253) 53%, rgba(0,0,0,0) 100%);
}

.post-container {
    margin: 15px auto;
    border-radius: 10px;
}
.post-container {
    width: 60vw;
}
.login-form-container {
    width: 475px;
    margin: 45px auto;
}
.remember-me-text {
    font-size: 100%;
}
.post-container-card {
    margin-bottom: 0px;
}
.card {
    background-color: white;
    
}
.card-body {
    padding: 0;
}
.card-subtitle {
    color: white;
}

.card-title {
    background: rgb(88,70,252);
    background: linear-gradient(41deg, rgb(74, 97, 228) 40%, rgb(100, 54, 226) 100%);
    color: white;
    
}
.card-title, .login-form-container h1, .new-post-container h1 {
    padding: 25px 20px 20px 25px;
    margin-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border:  1px solid var(--header-border);
}
.new-post-container h1, .login-form-container h1 {
    text-align: center;
    padding: 25px 20px 25px 20px;
}
.card-subtitle i {
    font-size: .75rem;
    margin-right: 5px;
    margin-left: 5px;
}
.card-text {
    text-indent: 25px;
    padding: 25px 40px 35px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    border-right: 1px solid var(--card-border);
    border-bottom: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 500;
}
.card-text small {
    font-family: 'Montserrat', sans-serif;
    color: rgba(107, 107, 107, 0.644);
    position: absolute;
    font-size: 70%;
    bottom: 10px;
    right: 25px;
    
}

.login-form, .new-post-form {
    font-family: 'Montserrat', sans-serif;
    color: rgb(75, 0, 173);
    padding: 15px 25px 15px 25px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right:  1px solid var(--card-border);
    border-left:  1px solid var(--card-border);
    border-bottom:  1px solid var(--card-border);
}
.login-form h4, .new-post-form h4 {
    text-align: center;
    margin: 15px 0px 25px 0px;
}
#logout {
    cursor: pointer;
}
.form-group {
    margin: 15px auto;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
}
.your-posts {
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-size: 300%;
    color: rgb(54, 68, 150);
}

.dashboard-container .post-container {
    max-width: 50vw;
    margin: 0 auto;
    margin-bottom: 1vw;
}
.new-post-container {
    max-width: 23vw;
    position:absolute;
    left: 1vw;
    top: 174px;
    margin-top: 1vw;
    margin-right: 1vw;
}
.buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 100%;
    text-indent: 0;
}
.fa-edit, .fa-trash-alt {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.712);
    margin: 5px;
    transition: color 0.2s;
}
.fa-edit:hover, .fa-trash-alt:hover {
    color: white;
    transition: color 0.2s;
}
.navbar-toggler {
    position: absolute !important;
    padding: 0;
    margin: 20px;
    right: 0;
    top: 13px;
    opacity: 70%;
    align-items: center;
    transition: opacity 0.2s,
    text-shadow 0.2s;
}
.navbar-toggler:not(.collapsed) {
    opacity: 100%;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.541);
    transition: opacity 0.2s,
    text-shadow 0.2s;
}


.navbar-toggler-icon {
    color: white;

    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    font-size: 200%;
    line-height: 1.5;
    transition: opacity 0.2s;
}
@media screen and (max-width: 991px) {
    .navbar {
        flex-direction: row !important;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        margin: auto;
        max-width: 80vw !important;
    }
    .post-container {
        width: 80vw !important;
    }
    .dashboard-container {
        display: block;
        justify-content: center;
        left: 5vw;
        margin: auto;
    }
    .dashboard-container .post-container {
        position: relative;
        width: 80vw;
        margin: auto;
    }
    .new-post-container {
        width: 80vw;
        position: relative;
        margin: 15px auto;
        top: 0;
        left: 0;
    }

    /* .navbar-toggler:hover {
        opacity: 100%;
        
    } */

}