<!-- login form -->
    <div class="login-form-container">
        <h1>Welcome back!</h1>
        <form class="login-form">
            <h4>Enter login information to continue</h4>

            <div class="form-outline mb-4">
                <input type="text" id="login-username" class="form-control"/>
                <label class="form-label" for="login-username">Username...</label>
            </div>

            <div class="form-outline mb-4">
                <input type="text" id="login-password" class="form-control" />
                <label class="form-label" for="login-password">Password...</label>
            </div>

            <div class="text-center pt-1 mb-5 pb-1">
                <button id="login-submit" class="btn btn-primary btn-block fa-lg mb-3" type="button">Log
                in</button>
            <div class="text-center">
                <p class="mb-2">Don't have an account?</p>
                <a href="/register"><button type="button" class="btn btn-primary fa-lg mb-3">Create account</button></a>
                </div>
            </form>
    </div>
</main>
<script src = '/js/login.js'></script>