<!-- login form -->
<div class="login-form-container">
    <h1>Welcome back!</h1>
    <form class="login-form">
        <h4>Enter login information to continue</h4>

        <div class="form-outline mb-4">
            <input type="text" id="username-input" class="form-control"/>
            <label class="form-label" for="username-input">Username...</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="password-input" class="form-control" />
            <label class="form-label" for="password-input">Password...</label>
        </div>

        <div class="text-center pt-1 mb-5 pb-1">
            <button class="btn btn-primary btn-block fa-lg mb-3" type="button">Log
            in</button>
        <div class="text-center">
            <p class="mb-0 me-2">Don't have an account?</p>
            <a href="/register"><button type="button" class="btn btn-primary fa-lg mb-3">Create account</button></a>
            </div>
        </form>
</div>